<div class="row">
    <div class="col-12">
<button class="btn bg-success text-success bg-opacity-10 border border-success ">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12">
        <ul  class="list-group" >
            <li class="list-group-item  list-group-item-secondary d-flex justify-content-between align-items-start" *ngFor="let recipe of recipes" >
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{recipe.name}}</div>
                {{recipe.description}}
            </div>
            <img class="img-thumbnail rounded-circle" [src]="recipe.imagePath" style="width: auto; height: 50px;">
        </li>
    </ul>

    </div>
    <app-recipe-item></app-recipe-item>
</div>
